In [7]:
import pandas as pd
import numpy as np

In [9]:
train1=pd.read_csv("../data/data_matrix/train_1.csv")
test1=pd.read_csv("../data/data_matrix/test_1.csv")

In [4]:
train1.head()

,Unnamed: 0,user,X1000,X1001,X1002,X1003,X1004,X1005,X1006,X1007,...,X1270,X1271,X1272,X1273,X1274,X1276,X1277,X1280,X1284,X1295
0,1,10010,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,10019,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,10021,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,10031,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,10035,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
train1.shape # there are total 269 movies and 4151 users

(4151, 271)

In [11]:
test1.head()

,Unnamed: 0,user,X1000,X1001,X1002,X1003,X1004,X1005,X1006,X1007,...,X1220,X1223,X1225,X1230,X1231,X1240,X1241,X1244,X1246,X1295
0,1,10010,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,10019,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,10021,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,10031,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,10035,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
test1.describe()

,Unnamed: 0,user,X1000,X1001,X1002,X1003,X1004,X1005,X1006,X1007,...,X1220,X1223,X1225,X1230,X1231,X1240,X1241,X1244,X1246,X1295
count,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,...,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000,665.000000
mean,333.000000,12402.878195,0.046617,0.133835,0.021053,0.100752,0.261654,0.001504,0.003008,0.030075,...,0.001504,0.001504,0.001504,0.001504,0.001504,0.001504,0.001504,0.003008,0.001504,0.018045
std,192.113248,1446.022531,0.210975,0.340731,0.143668,0.301226,0.439866,0.038778,0.054800,0.170923,...,0.038778,0.038778,0.038778,0.038778,0.038778,0.038778,0.038778,0.054800,0.038778,0.133215
min,1.000000,10010.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,167.000000,11166.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,333.000000,12337.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,499.000000,13636.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,665.000000,14974.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# EM algorithm 
## step 1 take initial guess for all the parameter mu and gamma